.content{
  display: flex;
  flex: 1;
  align-items: center;
  padding: 24px;
}
.title{
  color: rgba(0, 0, 0, 0.75);
  font-size: 17px;
  line-height: 22px;
}
.input{
  margin-top: 10px;
}
.button{
  margin-top: 16px;
}
